{% extends 'base.html' %}
{% block content %}
<html>
<head>
  <title>Mi primera página con estilo</title>
</head>

<table cellspacing="1" cellpadding="0" border="0" bgcolor="black" id="shell" height="250" width="400">
	<tr height="50">
		<td colspan="2" bgcolor="black"> 
		
			<table title="Banner" id="banner" border="0" align="center"> 
				<tr>
					<h1 style="color:indianred">Sobre Changing Styles ...</h1>
					<center>
						<img src="https://th.bing.com/th/id/OIP.bhThL2YD0kMCjD2kkoq5lAAAAA?w=140&h=150&c=7&o=5&pid=1.7" class="center">
					</center>
					
				</tr> 
			</table>
		
		</td>
	</tr>
	<tr height="200">
		<td bgcolor="black"> 
		
			<table id="navigation" title="Navigation" border="0">
				<tr>
					<h1 style="color:mediumaquamarine">-Tintes</h1>
				</tr>
				<tr>
					<h1 style="color:mediumaquamarine">-Uñas</h1>
				</tr>
				<tr>
					<h1 style="color:mediumaquamarine">-Cortes y Peinados</h1>
				</tr>
				<tr>
					<h1 style="color:mediumaquamarine">-Cambios de look</h1>
				</tr>
			</table> 
			
		</td>
		<td bgcolor="black">
			
			<table title="Content" id="content" border="0">
				<tr>
					<center>
					<img src="https://th.bing.com/th/id/OIP.rXgTNMaiZ0a78bM_uCfjtQAAAA?w=139&h=150&c=7&o=5&pid=1.7">
					<img src="https://th.bing.com/th/id/OIP.f6mqHsXZ9oYXEyUuhJuAPQAAAA?w=149&h=150&c=7&o=5&pid=1.7">
					<img src="https://th.bing.com/th/id/OIP.RvtTI3Hlkj-L0xbLeURFxwAAAA?w=177&h=119&c=7&o=5&pid=1.7">	
					</center>
					
				</tr> 
			</table> 
			
		</td>
	</tr>
</table>

</html>
{% endblock content %}